# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Datasets & cache
data/raw/
data/cache/
*.zip
*.tar
*.tar.gz

# Checkpoints & logs
checkpoints/
runs/
logs/
result/
saved_models/
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
